body {
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.row {
  min-height: 100vh;
  padding-top: 60px;
}

h2 {
  font-size: 3em;
  color: #1a5e25;
}

#about {
  padding-top: 10em;
}

input,
textarea {
  font-size: 2em;
  margin: 5px;
  border: 1px solid grey;
}

textarea {
  min-height: 15em;
}
